<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scal=1.0"> 
<title></title>
</head>
<body>
	<div align="Center">
	<h1>Modifier Client Assure</h1>
	<br/>
	
	<form action="#" th:action="@{/AjouterClientAssure}" th:object="${clientAssure}" method="post">
	<table border="0" cellpadding="0">
		<tr>
			<td><h4>IdClient</h4></td>
			<td><input type="text" th:field="*{idClient}" readonly="readonly"/></td>
		</tr>
		<tr>
			<td><h4>Nom Client</h4></td>
			<td><input type="text" th:field="*{nom}"/></td>
		</tr>
		<tr>
			<td><h4>Prenom Client</h4></td>
			<td><input type="text" th:field="*{prenom}"/></td>
		</tr>
		<tr>
			<td><h4>Genre Client</h4></td>
			<td><input type="text" th:field="*{sexe}"/></td>
		</tr>
		<tr>
			<td><h4>Adresse Client</h4></td>
			<td><input type="text" th:field="*{adresse}"/></td>
		</tr>
		<tr>
			<td><h4>numero assurance</h4></td>
			<td><input type="text" th:field="*{numeroPoliceAssurance}"/></td>
		</tr>
		<tr>
			<td><h4>nom Assureur</h4></td>
			<td><input type="text" th:field="*{nomAssureur}"/></td>
		</tr>
		<tr>
			<td colspan="4" align="Center"><button type="submit">Ajouter</button></td>
		</tr>
		

	</table>
	</form>
		
		
		
		
		
	</div>
</body>
</html>